div#app {
	display: flex;
	flex-direction: column;
}

header {
	padding: 1em;
}

div#search-area {
	display: flex;
	gap: 1em;
}

div#search-text {
	display: flex;
	flex: 1;
}

div#search-text i.icon {
	font-size: 1.5em;
}

div#search-text input {
	flex: 1;
	padding: 0em 0.5em;
	border: none;
	background-color: transparent;
	outline: none;
	color: white;
	font-size: 1.3em;
}

div#search-filters {
	display: flex;
	gap: 0.5em;
}

h1 {
	text-align: center;
}

main {
	background-color: var(--darkgray);
	flex: 1;
	padding: 1em;
}

span#total-results {
	color: var(--lightgray);
}

/* On mobile devices */
@media screen and (max-width: 600px) {
	div#search-area {
		flex-direction: column;
	}

	main {
		border-radius: 2em 2em 0 0;
	}
}
